<main id="about">
  <p><%= image_tag "robot_avatar.png", class: 'avatar' %><p>
  <p>I am a developer for <strike>simfy</strike> <a href="https://www.homeday.de">Homeday</a>. I have been building web applications since the late 1990s.</p>
  <p>I received my Computer Science degree from <a href="https://www.ursinus.edu">Ursinus College</a>, where I did research in <a href="https://lamentingrobot.com/publications">textual data mining</a>.</p>
  <p><small><a href="mailto:mail@indrode.com">Email</a> | <a href="https://lamentingrobot.com">Blog</a> | <a href="/projects">Portfolio</a> | <a href="http://github.com/indrode">GitHub</a> | <a href="https://www.linkedin.com/in/indrode">LinkedIn</a><br /><a href="https://twitter.com/zenpunch">Twitter</a> | <a href="http://last.fm/user/zenpunch">Last.fm</a> | <a href="https://keybase.io/indro">Keybase</a></small></p>
</main>
