<main id="projects">
  <p><img src="../img/robot_avatar.png" class="avatar" width="64" height="64" /><p>
  <p><a href="https://github.com/indrode/zenpunch-api">indrode/zenpunch-api</a><br />
    <a href="https://codeclimate.com/github/indrode/zenpunch-api"><img src="https://codeclimate.com/github/indrode/zenpunch-api/badges/gpa.svg" /></a>  <a href="https://codeclimate.com/github/indrode/zenpunch-api/coverage"><img src="https://codeclimate.com/github/indrode/zenpunch-api/badges/coverage.svg" /></a><br />
    <small>Rails-based personal API and playground. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/lament-rails">indrode/lament-rails</a><br />
    <a href="https://codeclimate.com/github/indrode/lament-rails"><img src="https://codeclimate.com/github/indrode/lament-rails/badges/gpa.svg" /></a> <a href="https://codeclimate.com/github/indrode/lament-rails/coverage"><img src="https://codeclimate.com/github/indrode/lament-rails/badges/coverage.svg" /></a><br />
    <small>Rails-based blog with custom CMS. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/feature_setting">indrode/feature_setting</a><br />
    <a href="https://codeclimate.com/github/indrode/feature_setting"><img src="https://codeclimate.com/github/indrode/feature_setting/badges/gpa.svg" /></a> <a href="https://codeclimate.com/github/indrode/feature_setting/coverage"><img src="https://codeclimate.com/github/indrode/feature_setting/badges/coverage.svg" /></a><br />
    <small>A lightweight feature/setting DSL for Rails applications. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/raven-client">indrode/raven-client</a><br />
    <a href="https://codeclimate.com/github/indrode/raven-client"><img src="https://codeclimate.com/github/indrode/raven-client/badges/gpa.svg" /></a> <a href="https://codeclimate.com/github/indrode/raven-client/coverage"><img src="https://codeclimate.com/github/indrode/raven-client/badges/coverage.svg" /></a><br />
    <small>Secure messaging client. (<b>STEALTH-MODE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/unkindness">indrode/unkindness</a><br />
    <small>Web-interface and storage for Raven messages. (<b>STEALTH-MODE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/shoplift">indrode/shoplift</a><br />
    <a href="https://codeclimate.com/github/indrode/shoplift"><img src="https://codeclimate.com/github/indrode/shoplift/badges/gpa.svg" /></a><br />
    <small>Custom reporting app consuming Shopify store data via API. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/lament">indrode/lament</a><br />
    <a href="https://codeclimate.com/github/indrode/lament"><img src="https://codeclimate.com/github/indrode/lament/badges/gpa.svg" /></a><br />
    <small>Sinatra-based lightweight markdown blog. (<b>RETIRED</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/5things">indrode/5things</a><br />
    <a href="https://codeclimate.com/github/indrode/5things"><img src="https://codeclimate.com/github/indrode/5things/badges/gpa.svg" /></a><br />
    <small>A flexible and feature-rich task manager. (<b>RETIRED</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/zimdb">indrode/zimdb</a><br />
    <a href="https://codeclimate.com/github/indrode/zimdb"><img src="https://codeclimate.com/github/indrode/zimdb/badges/gpa.svg" /></a><br />
    <small>Ruby wrapper for imdbapi.com. (<b>UNMAINTAINED</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/indrode">indrode/indrode</a><br />
    <small>My personal website. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/code">indrode/code</a><br />
    <small>Random collection of code snippets in various languages. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/zsh-custom">indrode/zsh-custom</a><br />
    <small>Dotfiles and ZSH configurations. (<b>ACTIVE</b>)</small>
  </p>
  <hr />
  <p><a href="https://github.com/indrode/muma">indrode/muma</a><br />
  <a href="https://codeclimate.com/github/indrode/muma"><img src="https://codeclimate.com/github/indrode/muma/badges/gpa.svg" /></a><br />
    <small>Ruby on Rails based music catalog manager. (<b>RETIRED</b>)</small>
  </p>
  <hr />
  <p>simfy/simfy</a><br />
    <a href="https://codeclimate.com/repos/4fe308bd7e00a45134000b1d/feed"><img src="https://codeclimate.com/repos/4fe308bd7e00a45134000b1d/badges/79fa7a5cae0bb3c1cb9a/gpa.svg" /></a><br />
    <small>Music streaming front- and backend. (<b>CLOSED-SOURCE</b>)</small>
  </p>
  <hr />
  <p>simfy/simfy_api</a><br />
    <a href="https://codeclimate.com/repos/53d18ef26956804113029b4e/feed"><img src="https://codeclimate.com/repos/53d18ef26956804113029b4e/badges/f7b36ee3f1cc7707b907/gpa.svg" /></a><br />
    <small>Next-generation API for the music streaming platform. (<b>CLOSED-SOURCE</b>)</small>
  </p>
</main>
