!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head

    %meta{:charset => "utf-8"}
    %title Indro De
    %meta{:content => "The personal website of Indro De.", :name => "description"}
    %meta{:content => "Indro De", :name => "author"}
  
    - # ==================================================
    - # Mobile Specific Metas
    - # ==================================================
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  
    - # ==================================================
    - # CSS
    - # ==================================================
    %link{:href => "/stylesheets/base.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/layout.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/v2.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/flexslider.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,900", :rel => "stylesheet"}
      
    - # ==================================================
    - # Favicons
    - # ==================================================

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}


    %script{:src => "/js/jquery-1.9.1.min.js"}
    %script{:src => "/js/jquery.flexslider-min.js"}
    %script{:src => "/js/magic.js"}

  %body
    - # ==================================================
    - # Primary Page Layout
    - # ==================================================
    #header
      .container
        .fourteen.columns.offset-by-one
          %h1
            indrode.com
            %span
              Software Engineer
          %h3
            the personal website of Indro De

    #navigation
      .container
        .fourteen.columns.offset-by-one

          %section.slider
            .flexslider
              %ul.slides
                %li
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation.Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                %li
                  %p 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                %li
                  %p 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    #footer
      .container
        .fourteen.columns.offset-by-one
          &copy; 2013 by Indro De

    - # ==================================================
    - # JS
    - # ==================================================



    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
